.rating {
	display: flex;
	flex-wrap: wrap;
	// .rating__body
	&__body {
		display: inline-block;
		position: relative;
		width: 132px;
		height: 21px;
		.rating-input {
			display: none;
			padding: 11px;
		}
	}
	// .rating__line
	&__line {
		position: absolute;
		width: 132px;
		height: 21px;
		top: 0;
		left: 0;
		background: url("../img/icons/rating.svg") 0 0 no-repeat;
		z-index: 1;
	}
	// .rating__activeline
	&__activeline {
		position: absolute;
		width: 0px;
		height: 21px;
		top: 0;
		left: 0;
		background: url("../img/icons/rating_active.svg") 0 0 no-repeat;
		z-index: 2;
	}
	// .rating__stars
	&__stars {
		width: 100%;
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .rating__star
	&__star {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}
	// .rating__value
	&__value {
	}
}
