@font-face {
	font-family: icons;
	font-display: swap;
	src:
		url("../fonts/icons.woff2") format("woff2"),
		url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src:
		url("../fonts/Inter_regular.woff2") format("woff2"),
		url("../fonts/Inter_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: LabGrotesque;
	font-display: swap;
	src:
		url("../fonts/LabGrotesque_black.woff2") format("woff2"),
		url("../fonts/LabGrotesque_black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: LabGrotesque;
	font-display: swap;
	src:
		url("../fonts/LabGrotesque_regular.woff2") format("woff2"),
		url("../fonts/LabGrotesque_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: LabGrotesque;
	font-display: swap;
	src:
		url("../fonts/LabGrotesque_medium.woff2") format("woff2"),
		url("../fonts/LabGrotesque_medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Noah;
	font-display: swap;
	src:
		url("../fonts/Noah_bold.woff2") format("woff2"),
		url("../fonts/Noah_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: NeutralFace;
	font-display: swap;
	src:
		url("../fonts/NeutralFace_regular.woff2") format("woff2"),
		url("../fonts/NeutralFace_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Noah;
	font-display: swap;
	src:
		url("../fonts/Noah_regular.woff2") format("woff2"),
		url("../fonts/Noah_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src:
		url("../fonts/Roboto_bold.woff2") format("woff2"),
		url("../fonts/Roboto_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
