@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================

$fontFamily: "Noah", sans-serif;
$fontFamilyNeutralFace: "NeutralFace", sans-serif;
$fontFamilyInter: "Inter", sans-serif;
$fontFamilyLabGrotesque: "LabGrotesque", sans-serif;
$fontFamilyRoboto: "Roboto", sans-serif;

$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию

$gentle-skin: #f2e8e2;
$noble-amber: #ec6608;
$dark-oak: #513d38;
$black: #050505;
$medium-grey: #909090;
$light-grey: #e9e9e9;
$dark-grey: #404040;
$hover-grey: #333;
$error: #fb0f00;
$disabled: #a1a1a1;
$card-bg-grey: #181818;
$dark-grey_2: #484848;
$blue: #125bff;
$medium-grey_2: #7b7b7b;
$overlay: rgba(12, 12, 12, 0.95);

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1832;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingPC: 64;
$containerPaddingMobile: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidthPc: $maxWidthContainer + $containerPaddingPC;

// Брейк-поинты
$pc: 1862px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background: $black;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	//overflow: hidden;
	position: relative;
	@media (max-width: $tablet) {
		overflow: hidden;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.page {
	padding: 125px 0px 0px 0px;
	@media (max-width: $tablet) {
		padding: 105px 0px 0px 0px;
	}
	@media (max-width: $mobileSmall) {
		padding: 88px 0px 0px 0px;
	}
}

.page-education {
	padding: 90px 0px 0px 0px;
	@media (max-width: 1300px) {
		padding: 124px 0px 0px 0px;
	}
	@media (max-width: $tablet) {
		padding: 90px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		padding: 82px 0px 0px 0px;
	}
	@media (max-width: $mobileSmall) {
		padding: 68px 0px 0px 0px;
	}
	.top-article__item {
		margin: 0px 0px 0px 0px;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPaddingPC>0) {
			padding: 0 rem(math.div($containerPaddingPC, 2));
		}
		@media (max-width: $mobileSmall) {
			padding: 0 rem(math.div($containerPaddingMobile, 2));
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "blog";
@import "services";
@import "teams";
@import "sale";
@import "results";
@import "contacts";
@import "payment";
@import "return";
@import "documents";
@import "error";
